button {
  border: 1px solid transparent;
  padding: 0.4em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  color: #fff;
  outline: none;
}

.navbar {
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
  position: sticky;
  height: 4.2rem;
  display: flex;
  align-items: center;
  width: 100%;
  z-index: 999;
  justify-content: center;
}

.nav-header {
  background-color: #fff;
  border-bottom: 0;
  padding: 0 0 0 24px;
}

.brand-font {
  display: contents;
  font-size: 1.4rem;
}

.logo-exvi {
  width: 60px;
  float: left;
  cursor: pointer;
  margin-left: 30px;
  margin-top: 14px;
}

.navbar-menu {
  display: flex;
  justify-content: space-evenly;
}

.ant-menu-title-content {
  font-weight: 500;
  border-bottom: none !important;
}

.menuButton {
  float: right;
  height: 32px;
  padding: 6px;
  margin-top: 14px;
  display: none;
  background: none;
  margin-right: 10px;
  border-bottom: none;
}

.ant-menu-light.ant-menu-horizontal > .ant-menu-item {
  font-size: 1rem;
}

.ant-menu .ant-menu-item .ant-menu-item-icon svg {
  font-size: 1rem;
}

.ant-menu .ant-menu-item .ant-menu-item-icon svg:hover {
  color: #107acc;
}

.ant-menu-light
  .ant-menu-item:not(.ant-menu-item-selected):not(
    .ant-menu-submenu-selected
  ):hover {
  color: #107acc;
}

.ant-menu-item-selected {
  color: #000;
}

.ant-menu .ant-menu-item .ant-menu-item-icon {
  font-size: 1rem;
}

.ant-menu-light
  .ant-menu-item:not(.ant-menu-item-selected):not(
    .ant-menu-submenu-selected
  ):hover {
  color: #107acc;
}

.ant-menu-overflow-item .ant-menu-item li:hover {
  color: #107acc;
}

.ant-menu-title-content:hover {
  color: #107acc;
}

.ant-menu-title-content span:hover {
  color: #107acc;
}

.ant-drawer-body {
  padding: 0;
}

.ant-drawer-body .ant-menu-horizontal > .ant-menu-item,
.ant-drawer-body .ant-menu-horizontal > .ant-menu-submenu {
  display: inline-block;
  width: 100%;
  border-bottom: none;
}

.ant-menu-overflow-item
  .ant-menu-overflow-item-rest
  .ant-menu-submenu
  .ant-menu-submenu-horizontal {
  display: none;
}
.ant-menu-overflow-item .ant-menu-submenu .ant-menu-submenu-horizontal {
  margin-top: 7px;
  font-size: 2px;
}

.menu-horizontal > .ant-menu-submenu {
  display: none;
  transition: none !important;
}

.ant-menu-light.ant-menu-horizontal > .ant-menu-item::after {
  border-bottom: none !important;
}

.ant-menu-light .ant-menu-horizontal > .ant-menu-item::after {
  border-bottom: none !important;
}

.ant-menu-light.ant-menu-horizontal > .ant-menu-item-selected::after {
  border-bottom: none !important;
}
.ant-menu-light.ant-menu-horizontal > .ant-menu-submenu::after {
  border-bottom: none !important;
}

.ant-menu-light.ant-menu-horizontal > .ant-menu-submenu {
  font-size: 1rem;
}

.ant-menu-vertical > .ant-menu-submenu > .ant-menu-submenu-title {
  height: 46px;
}

.ant-menu-inline > .ant-menu-item {
  height: 46px;
}

.ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
  height: 46px;
}

.ant-menu-submenu-title:hover {
  background-color: transparent !important;
}

.ant-menu .ant-menu-submenu-arrow::before {
  display: none;
}

.ant-menu .ant-menu-submenu-arrow::after {
  display: none;
}

.username {
  display: none;
  margin-left: 8px;
}

.leftMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1.4rem;
  margin-top: 1.1rem;
}

.hover-boton-entrar {
  margin-top: 0.7rem;
  transition: all 0.3s ease-in-out;
}

.hover-boton-entrar:hover {
  opacity: 0.5;
}

.menu-left-ant {
  width: 500px;
}

.carrito-cantidad {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: #107acc;
  color: #fff;
  border-radius: 40px;
  padding: 3px 4px;
  font-size: 8px;
}

.circulo-iniciales {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #007acc;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
  font-size: 18px;
  margin-top: 6px;
  transition: all 0.5s;
}

.circulo-iniciales:hover {
  background-color: #2d2f31;
  transition: all 0.5s;
}

.boton-sesion {
  margin-top: 12px;
  background-color: #107acc;
  transition: all 0.5s;
}

.boton-sesion:hover {
  background-color: #2d2f31;
  transition: all 0.5s;
}

@media (max-width: 1080px) {
  .menu-left-ant {
    width: 400px;
  }
}

@media (max-width: 950px) {
  .menu-left-ant {
    width: 350px;
  }
}

@media (max-width: 860px) {
  .menu-left-ant {
    width: 280px;
  }
}

@media (max-width: 768px) {
  .menuButton {
    display: block;
    margin-right: 10px;
  }

  .leftMenu,
  .rightMenu {
    display: none;
  }

  .logo-exvi {
    margin-left: -5px;
    margin-top: 12px;
  }

  .ant-drawer-title > .brand-font {
    margin-bottom: 0;
  }

  .username {
    display: inline-block;
  }

  .navbar-menu {
    justify-content: flex-end;
    margin-right: 1rem;
  }

  button {
    margin-left: -1rem;
  }

  .hover-boton-entrar {
    border: none;
    margin-top: 0;
  }

  .menu-left-ant {
    width: 100%;
  }

  .buscar-nav {
    display: none;
  }
}
