/* Para el panel de videos*/
.curso-steps-container {
  width: 70%;
}

.steps-header {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 90%;
  margin: 0 auto;
}

.steps-view {
  margin-top: -5rem;
}

/*Para la informacion del curso*/
.panel-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0 auto;
  width: 90%;
}

.preview-cursos {
  width: 30%;
  background-color: #f7f9fa;
  border: 1px solid #d9d9d9;
  overflow-y: auto;
  height: 88.5vh;
}

.container-info-curso {
  padding: 20px;
}

.container-info-curso h5 {
  font-size: 1.3rem;
  margin: 0;
  padding-bottom: 7px;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 10px;
}

.preview-header-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 1rem;
}

.preview-header-info h6 {
  margin: 0;
  flex-wrap: wrap;
  width: auto;
  font-size: 0.9rem;
  font-weight: 600;
  margin-right: 19px;
}

.preview-header-info p {
  margin: 0;
  background-color: #107acc;
  color: #fff;
  padding: 10px;
  font-size: 0.8rem;
  padding: 5px 20px;
  border-radius: 50px;
}

.ant-steps .ant-steps-item-process .ant-steps-item-icon {
  background-color: #107acc;
  border-color: #107acc;
}

.ant-btn-default {
  border-radius: 0;
}

.btn-finalizar {
  background-color: #107acc;
  color: #fff;
}

.ant-steps
  .ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title::after {
  background-color: #107acc;
}

.preview-curso-detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #d9d9d9;
  padding: 7px;
  margin-bottom: 15px;
}

.video-preview-detail {
  margin-right: 0.5rem;
}

.info-curso-preview {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.titulo-seccion-class {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
}

.duracion-video-class {
  margin: 0;
  margin-top: 5px;
  font-size: 12px;
  color: #888;
}

.seccion-arrastrable {
  cursor: move;
}

.boton-eliminar-seccion {
  background-color: transparent;
  color: #cb3234;
  font-size: 20px;
}

.botones-container {
  margin-top: 1rem;
}

.vacio-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 62vh;
}

.vacio-preview svg {
  font-size: 5rem;
  color: #d9d9d9;
}

.vacio-preview p {
  color: #d9d9d9;
}

.form-container {
  background-color: #f7f9fa;
  border: 1px solid #d9d9d9;
  padding: 20px;
  width: 100%;
  height: auto;
  min-height: 70vh;
  margin-top: 6rem;
}

.ant-input-group .ant-input-group-addon:first-child {
  border-radius: 0;
}

.ant-input-group > .ant-input:last-child {
  border-radius: 0;
}

.ant-input:placeholder-shown {
  border-radius: 0;
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  border-radius: 0;
}

.ant-input {
  border-radius: 0;
}

.titulo-crear-info {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.word-count {
  position: absolute;
  top: -0.1rem;
  right: 10px;
  font-size: 11px;
  color: #888;
  z-index: 1000;
}

.categoria-input {
  width: 100%;
}

.dropzone-imagen {
  border: 2px dashed #d9d9d9;
  padding: 10px;
  text-align: center;
  margin: 20px 0;
  cursor: pointer;
  height: 12vh;
  width: 20%;
}

.dropzone-imagen p {
  margin: 0;
  font-size: 16px;
  color: #d9d9d9;
}

.palabras-clave {
  display: flex;
  margin-bottom: 15px;
  align-items: baseline;
}

.palabras-clave input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
}

.boton-palabra {
  background-color: #28a745;
  border: none;
  color: #fff;
  padding: 10px;
  height: 2.8rem;
  margin-left: 10px;
  cursor: pointer;
  font-weight: 600;
  border-radius: 0;
}

.contenedor-palabras {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 6vh;
  height: auto;
  margin-bottom: 2rem;
  padding-left: 5px;
  padding-top: 5px;
  flex-wrap: wrap;
  justify-content: start;
}

.palabra {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  align-items: center;
  width: auto;
  margin-left: 4px;
  color: #fff;
  padding: 3px;
  font-size: 15px;
  min-width: 8vw;
}

.palabra span {
  flex: 1;
  margin-left: 1rem;
}

.eliminar-palabra {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}

.eliminar-palabra:hover {
  background-color: transparent !important;
  color: red;
}

.boton-info {
  background-color: #107acc;
  color: #fff;
  border: none;
  border-radius: 0;
}

/*Para las secciones */
.panel-secciones-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0 auto;
  width: 90%;
}

.seccion-form {
  background-color: #f7f9fa;
  border: 1px solid #d9d9d9;
  padding: 20px;
  width: 100%;
  height: auto;
  min-height: 70vh;
}

.video-dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
  border: 2px dashed #ccc;
  cursor: pointer;
  margin-top: 20px;
  position: relative;
}

.video-dropzone span {
  font-size: 16px;
  color: #555;
}

.video-preview-container {
  position: relative;
  width: 100%;
  height: 300px;
}

.video-preview {
  width: 100%;
  height: 100%;
}

.delete-video-button {
  background-color: #cb3234;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  margin-top: 10px;
  transform: translateY(-750%);
  transition: background-color 0.3s ease;
}

.delete-video-button:hover {
  background-color: darkred;
}

.document-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.document-icon {
  font-size: 24px;
  margin-bottom: 10px;
}

.document-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.document-info span {
  padding: 4px;
  font-size: 14px;
}

.delete-video-button-documento {
  background-color: #cb3234;
  color: white;
  border: none;
  padding: 5px;
  margin-left: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.5s ease;
}

.delete-video-button-documento:hover {
  background-color: darkred;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.section-button,
.subsection-button,
.finish-button {
  flex: 1;
  margin-right: 10px;
  background-color: #107acc;
  border-radius: 0;
}
